<div id="main">
    <div class="m-auto md:w-1/3 bg-water-tile rounded-md shadow-xl p-2 mb-8">
        <div class="bg-white rounded-md p-5">
            <h2 class="text-xl font-bold mb-4">Welcome to aamatch</h2>
            <p class="text-sm mb-4">Here you can play ranked and casual matches against other users
                in advance wars reboot 1+2.</p>
            <p class="text-sm mb-4">Please note that we are currently in beta, so some features might not work. Also ranks
                and matches can be reset at any time without prior notice or the users database can be reset.
            </p>
            <p class="text-sm mb-4">Depending on the reception by the players, this application might be extended
                with ranked matches and scoreboard for player classifications.
            </p>
            <p class="text-sm mb-4">We are <b>looking for a front end developer</b>, please contact at
                <a href="https://github.com/jpenalbae/aamatch/issues" class="hover:underline">Github</a> or 
                <a href="https://discord.gg/jSaF9tGMHx" class="hover:underline">Discord</a>.
                Also use this method to report any bugs or issues.
        </div>
    </div>

    <div class="flex flex-col md:flex-row justify-center">
        <a href="#casual" onclick="queueRetry('#casual')">
        <div class="w-60 h-60 border bg-yellow-200 border-slate-400 shadow-xl 
        p-4 m-10 rounded-sm -rotate-12 transition">
            <h1 class="text-base font-bold mb-6 text-center">Casual</h1>
            <ul class="text-sm list-none text-center">
                <li><i class="fa-solid fa-check" style="color: #26a269;"></i> Play against other users</li>
                <li><i class="fa-solid fa-check" style="color: #26a269;"></i> Choose any map</li>
                <li><i class="fa-solid fa-check" style="color: #26a269;"></i> Chat with your opponent</li>
                <li><i class="fa-solid fa-check" style="color: #26a269;"></i> Report match results</li>
            </ul>
        </div>
        </a>

        <div class="w-60 h-60 border bg-yellow-200 border-slate-400 shadow-xl 
        p-4 m-10 rounded-sm rotate-12 text-center">
            <h1 class="text-base font-bold mb-6">Ranked</h1>
            <p class="text-sm pb-6">Coming soon</p>
            <ul class="text-sm list-none line-through">
                <li>Play with same rank players</li>
                <li>Map chosen by the server</li>
                <li>Chat with your opponent</li>
                <li>Rise in the ranks</li>
                <li>See global classification</li>
            </ul>
        </div>
    </div>
</div>